<section class="section__gallery">
  <div class="container gallery">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery__slider">
      <div class="gallery__slider-item">
        <img
          class="gallery__images"
          srcset="
            ./images/gallery/slide-1.jpg    1x,
            ./images/gallery/slide-1@2x.jpg 2x
          "
          src="./images/gallery/slide-1.jpg"
          alt="gallery-1"
        />
      </div>
      <div class="gallery__slider-item">
        <img
          class="gallery__images"
          srcset="
            ./images/gallery/slide-2.jpg    1x,
            ./images/gallery/slide-2@2x.jpg 2x
          "
          src="./images/gallery/slide-2.jpg"
          alt="gallery-2"
        />
      </div>
      <div class="gallery__slider-item">
        <img
          class="gallery__images"
          srcset="
            ./images/gallery/slide-3.jpg    1x,
            ./images/gallery/slide-3@2x.jpg 2x
          "
          src="./images/gallery/slide-3.jpg"
          alt="gallery-3"
        />
      </div>
    </div>
  </div>
</section>
